/* Global body settings */
body {
    padding: 0;
    margin: 0;
    font: 1em/2 Arial,Verdana,Sans-Serif;
    background-color: #b2b2b2;
}

/* Global settings for all containers */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #353535;
    color: white;
    padding-top:1.5em;
    min-height: 80px;
    border-bottom: 5px solid #FF5719;
}

header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    display: inline;
    padding: 0px 20px;
}

/*Correct Floating elements*/
nav{
    margin-top: 20px;
    float: right;
}
header h1 {
    margin-top:0;
    float: left;
    font-weight:300;
}

header .current a {
    color:#FF5719;
    font-weight:bold;
}

a:hover{
    color:rgba(255, 166, 0, 0.726);
}
/*Setting showcase image*/
#showcase {
    background: url("../img/showcase3.jpg") no-repeat 0px -280px;
    min-height: 1000px;
    text-align: center;
    color: white;
}
#showcase h1 {
    margin-top: 200px;
    font-size: 6em;
    margin-bottom: 0;
}

/* Boxes Section */
#boxes {
    margin-top: 30px;
}

#boxes .box {
    width: 30%;
    float: left;
    text-align: center;
    margin: 0px 20px;
}
#boxes img {
    width: 60%;
}

footer {
    text-align: center;
    background-color: #FF5719;
    padding:20px;
}